<div class="container-fluid mainveld p-4 d-flex justify-content-center">
        <div class="container my-auto">
                <div class="main-body">               
                      <div class="row gutters-sm">
                        <div class="col-md-4 mb-3">
                          <div class="card">
                            <div class="card-body">
                              <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-2">
                                  <h4>John Doe</h4>
                                  <p class="text-secondary mb-2">Owner</p>
                                  <button class="btn btn-outline-primary">Change profile picture</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card mt-3">
                            <div class="card-header">
                                User Rights
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg>
                                        Add
                                      </li>
                                    <li class="list-group-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                      </svg>
                                      Edit
                                    </li>
                                    <li class="list-group-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                          <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                          <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                        </svg>
                                        View
                                    </li>
                                    <li class="list-group-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                        Delete
                                    </li>
                                    <li class="list-group-item">etc...</li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="card mb-3">
                              <div class="card-header">Personal information</div>
                            <form>
                              <div class="card-body info">
                                <div class="row">
                                  <div class="col-sm-3">
                                    <p class="mb-0 label">First name</p>
                                  </div>
                                  <input type="text" name="" id="" value="Kenneth" class="col-sm-8 text-secondary pb-2" [readonly]="edit" [ngClass]="edit ? '' : 'edit'">
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <p class="mb-0 label">Last name</p>
                                  </div>
                                  <input type="text" name="" id="" value="Valdez" class="col-sm-8 text-secondary pb-2" [readonly]="edit" [ngClass]="edit ? '' : 'edit'">
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <p class="mb-0 label">Email</p>
                                  </div>
                                  <input type="email" name="" id="" value="fip@jukmuh.al" class="col-sm-8 text-secondary pb-2" [readonly]="edit" [ngClass]="edit ? '' : 'edit'">
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                      <p class="mb-0 label">Invoice email</p>
                                  </div>
                                  <input type="email" name="" id="" value="fip@jukmuh.al" class="col-sm-8 text-secondary pb-2" [readonly]="edit" [ngClass]="edit ? '' : 'edit'">
                                  </div>
                                  <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <p class="mb-0 label">Phone</p>
                                  </div>
                                  <input type="tel" name="" id="" value="(239) 816-9029" class="col-sm-8 text-secondary pb-2" [readonly]="edit" [ngClass]="edit ? '' : 'edit'">
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <p class="mb-0 label">Mobile</p>
                                  </div>
                                  <input type="tel" name="" id="" value="(320) 380-4539" class="col-sm-8 text-secondary pb-2" [readonly]="edit" [ngClass]="edit ? '' : 'edit'">
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <p class="mb-0 label">Address</p>
                                  </div>
                                  <input type="text" name="" id="" value="Bay Area, San Francisco, CA" class="col-sm-8 text-secondary pb-2" [readonly]="edit" [ngClass]="edit ? '' : 'edit'">
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0 label">Language</p>
                                    </div>
                                    <select name="" id="" class="col-sm-8 text-secondary pb-2" [ngClass]="edit ? 'readonly' : 'edit'">
                                      <option value="">English</option>
                                      <option value="">Dutch</option>
                                      <option value="">German</option>
                                    </select>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-12">
                                      <button class="btn btn-info" (click)="readonly()">{{editbtn}}</button>
                                  </div>
                                </div>
                              </div>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>